<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaseCar-back (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,100}</string>
                <key>spriteSourceSize</key>
                <string>{55,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseCar-back (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,100}</string>
                <key>spriteSourceSize</key>
                <string>{55,100}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseCar-forward (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,100}</string>
                <key>spriteSourceSize</key>
                <string>{55,100}</string>
                <key>textureRect</key>
                <string>{{0,100},{55,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseCar-forward (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,100}</string>
                <key>spriteSourceSize</key>
                <string>{55,100}</string>
                <key>textureRect</key>
                <string>{{55,100},{55,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseCar-left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,55}</string>
                <key>spriteSourceSize</key>
                <string>{100,55}</string>
                <key>textureRect</key>
                <string>{{0,200},{100,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseCar-left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,55}</string>
                <key>spriteSourceSize</key>
                <string>{100,55}</string>
                <key>textureRect</key>
                <string>{{0,255},{100,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseCar-right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,55}</string>
                <key>spriteSourceSize</key>
                <string>{100,55}</string>
                <key>textureRect</key>
                <string>{{0,310},{100,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaseCar-right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,55}</string>
                <key>spriteSourceSize</key>
                <string>{100,55}</string>
                <key>textureRect</key>
                <string>{{0,365},{100,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BaseCar.png</string>
            <key>size</key>
            <string>{110,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eee1fafc3ec950557d92764f96cc3cfa:b0a3d28b52eecdab8fffaa48f319ad04:490ebd3d7a4bb1e8bcf1786cf60fb1cd$</string>
            <key>textureFileName</key>
            <string>BaseCar.png</string>
        </dict>
    </dict>
</plist>
