<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Unit3-attackLeft (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{680,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{68,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{204,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{136,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{872,87},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{668,87},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{736,87},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{804,87},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackLeft (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{0,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{340,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{748,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{884,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{816,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{272,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{612,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{408,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{544,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-attackRight (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{476,136},{68,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{656,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{744,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{876,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{0,42},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{832,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{612,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{788,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{700,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-back (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{920,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{136,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{68,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{204,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{544,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{272,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{340,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{476,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,41}</string>
                <key>spriteSourceSize</key>
                <string>{68,41}</string>
                <key>textureRect</key>
                <string>{{408,0},{68,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{492,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{580,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{624,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{536,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{272,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{316,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{404,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{360,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-forward (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{448,87},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{860,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{0,87},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{136,87},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{68,87},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{928,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{792,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{588,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{724,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{656,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{452,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{520,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{112,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{316,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{248,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{384,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{180,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{44,42},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit3-right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{204,87},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit3.png</string>
            <key>size</key>
            <string>{996,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6ffe1ab7c3b67823eb2842e03d34274:545ad50ea05f6fdfa3d314132b286f2d:0eddb561c0a123a66baaf6c6fdf92da8$</string>
            <key>textureFileName</key>
            <string>unit3.png</string>
        </dict>
    </dict>
</plist>
