<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Unit1-attackLeft (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{741,0},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{440,0},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{772,0},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{74,30},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{462,30},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{159,30},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{187,30},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{0,30},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{87,0},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackLeft (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{469,0},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{834,0},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{803,0},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{976,0},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{870,30},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{605,30},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{738,30},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{101,30},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{115,0},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{359,0},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attackRight (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{411,0},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{388,0},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{765,30},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{28,30},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{219,0},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{51,30},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{965,30},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{920,30},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{865,0},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{143,0},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{498,0},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{897,30},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{715,30},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{570,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{543,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{241,0},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,22}</string>
                <key>spriteSourceSize</key>
                <string>{29,22}</string>
                <key>textureRect</key>
                <string>{{29,0},{29,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,22}</string>
                <key>spriteSourceSize</key>
                <string>{29,22}</string>
                <key>textureRect</key>
                <string>{{58,0},{29,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{887,0},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{662,30},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{909,0},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{520,0},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{954,0},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{582,30},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{788,30},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{932,0},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{197,0},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{690,0},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{943,30},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{987,30},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{712,0},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{658,0},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{550,30},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{840,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{810,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{633,30},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{330,0},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{214,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{129,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{244,30},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{276,30},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{269,0},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{629,0},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{402,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{489,30},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{301,0},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{308,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{432,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{370,30},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{338,30},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{165,0},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{597,0},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{518,30},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{685,30},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit1.png</string>
            <key>size</key>
            <string>{1009,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6156b29d266b086b08e75e5e5c00bb7:6d8a5216fed5cdcfc8792111465e95ac:bf7e3f496bb51a6b1b7053834cd8529d$</string>
            <key>textureFileName</key>
            <string>unit1.png</string>
        </dict>
    </dict>
</plist>
