<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Unit2-attackLeft (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{0,55},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{40,27},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,28}</string>
                <key>spriteSourceSize</key>
                <string>{43,28}</string>
                <key>textureRect</key>
                <string>{{42,55},{43,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,28}</string>
                <key>textureRect</key>
                <string>{{85,55},{41,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{82,27},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{151,0},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,27}</string>
                <key>spriteSourceSize</key>
                <string>{39,27}</string>
                <key>textureRect</key>
                <string>{{191,0},{39,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{85,83},{43,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,29}</string>
                <key>textureRect</key>
                <string>{{30,112},{44,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackLeft (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{126,55},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{43,83},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,28}</string>
                <key>spriteSourceSize</key>
                <string>{43,28}</string>
                <key>textureRect</key>
                <string>{{0,83},{43,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,28}</string>
                <key>textureRect</key>
                <string>{{168,55},{41,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{30,0},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,27}</string>
                <key>spriteSourceSize</key>
                <string>{40,27}</string>
                <key>textureRect</key>
                <string>{{0,27},{40,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,27}</string>
                <key>spriteSourceSize</key>
                <string>{39,27}</string>
                <key>textureRect</key>
                <string>{{70,0},{39,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{128,83},{43,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,29}</string>
                <key>textureRect</key>
                <string>{{171,83},{44,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{152,27},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-attackRight (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{109,0},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-back (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{0,112},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-back (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{30,173},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-back (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{180,142},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-back (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{60,142},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-back (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{30,142},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{90,142},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{120,142},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,142},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{104,112},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{74,112},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{134,112},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{194,112},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{164,112},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-forward (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{0,173},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-forward (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{122,27},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-forward (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{150,142},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-forward (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{60,173},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-forward (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{194,27},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{132,251},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{176,251},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{88,251},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{0,290},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{0,251},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{132,290},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{176,290},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{88,290},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{44,251},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{44,212},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{178,173},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{134,173},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{90,173},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{0,212},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{132,212},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{176,212},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{88,212},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit2-right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{44,290},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit2.png</string>
            <key>size</key>
            <string>{230,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817bf402e0d574c661bef4de61f6beba:e8c367e89b0eccd84d8f12d2f8bd7136:dcc10b75438d74f313c858a840ce2329$</string>
            <key>textureFileName</key>
            <string>unit2.png</string>
        </dict>
    </dict>
</plist>
