<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Unit1-attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,44},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,44},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,88},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,88},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,132},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,132},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,176},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,176},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,220},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,220},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,264},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,264},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,308},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,308},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,352},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,352},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,396},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,396},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,440},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-back12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,440},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,484},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,484},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,528},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,528},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,572},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-die06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,572},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,616},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,616},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,660},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,660},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,704},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,704},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,748},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,748},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,792},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,792},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,836},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-forward12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,836},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,880},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,880},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,924},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,924},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,968},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,968},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,1012},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,1012},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,1056},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,1056},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{0,1100},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit1-right12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,44}</string>
                <key>textureRect</key>
                <string>{{64,1100},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit1.png</string>
            <key>size</key>
            <string>{128,1144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c5337e3e2f55248649a87f6f9842a54:220241e89f348a2c1fd9b155905549c7:bf7e3f496bb51a6b1b7053834cd8529d$</string>
            <key>textureFileName</key>
            <string>unit1.png</string>
        </dict>
    </dict>
</plist>
