<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArchMageTwister_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{1131,1},{51,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{111,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{221,1},{111,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{113,114}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{109,102}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{772,1},{109,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ArchMageTwister_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{1058,1},{71,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{971,1},{85,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,102}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{876,1},{93,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{661,1},{109,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{101,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{558,1},{101,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{103,114}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{116,1},{103,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{109,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{447,1},{109,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArchMageTwister_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{111,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{334,1},{111,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wind.png</string>
            <key>size</key>
            <string>{1183,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf35f00bb6ab1d1119e1d6e700601cb7:af9dc94fce79558e5fe1df01aa16977a:5f051b70d6983df23ae320420545ef25$</string>
            <key>textureFileName</key>
            <string>wind.png</string>
        </dict>
    </dict>
</plist>
